<ActionBar title="">
    <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>

    <ActionItem *ngIf="userService.getUser()" (tap)="onFollow()" ios.position="right" android.position="actionBar">
        <StackLayout orientation="horizontal" class="btn-rounded m-r-10" [class.follow]="!profile?.following" [class.unfollow]="profile?.following">
            <Label [text]="(profile?.following ? 'fa-minus' : 'fa-plus') | fonticon" class="fa m-r-10"></Label>
            <Label text="{{ (profile?.following ? 'user.unfollow' : 'user.follow') | L }}"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<StackLayout>
    <GridLayout rows="auto, auto, auto, *" columns="*" class="m-5">
        <Image row="0" [src]="profile?.image" height="64" horizontalAlignment="center"></Image>

        <StackLayout row="1" class="m-t-10">
            <Label class="h2" [text]="profile?.username"></Label>
            <Label [text]="profile?.bio"></Label>
        </StackLayout>

        <StackLayout row="2" horizontalAlignment="center">
            <SegmentedBar selectedIndex="0" (selectedIndexChange)="onFeedChange($event)" class="m-5">
                <SegmentedBarItem title="{{ 'user.feed.user' | L }}"></SegmentedBarItem>
                <SegmentedBarItem title="{{ 'user.feed.favorited' | L }}"></SegmentedBarItem>
            </SegmentedBar>
        </StackLayout>

        <GridLayout row="3" *ngIf="profile">
            <conduit-list-articles *ngIf="isMyArticles" author="{{ profile?.username }}"></conduit-list-articles>
            <conduit-list-articles *ngIf="!isMyArticles" favorited="{{ profile?.username }}"></conduit-list-articles>
        </GridLayout>
    </GridLayout>

    <ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>
</StackLayout>