<ScrollView class="page">
    <FlexboxLayout class="p-10" flexDirection="column" justifyContent="space-between" alignItems="center">
        <StackLayout class="about" verticalAlignment="center">
            <Label text="{{ 'title' | L }}" class="h2" textWrap="true" style="text-align: center"></Label>

            <Image src="res://logo_small" class="logo"></Image>

            <Label class="about-text m-10" textWrap="true" (tap)="onLink('https://realworld.io/')">
                <FormattedString>
                    <Span text="{{ 'about.realworld' | L }}"></Span>
                    <Span text="https://realworld.io/." class="text-primary font-weight-bold"></Span>
                </FormattedString>
            </Label>
            <StackLayout class="hr-light"></StackLayout>

            <Label class="about-text m-10" textWrap="true" (tap)="onLink('https://thinkster.io/')" text="{{ 'about.thinkster' | L }}"></Label>
            <StackLayout class="hr-light"></StackLayout>            
            
            <Label class="about-text m-10" textWrap="true" (tap)="onLink('https://github.com/nea/nativescript-realworld-example-app/')" text="{{ 'about.insanitydesign' | L }}"></Label>
        </StackLayout>
        <StackLayout class="spacer">
            <Button text="{{ 'general.close' | L }}" class="btn btn-primary btn-active btn-rounded-sm" (tap)="onClose()"></Button>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>