<ActionBar [title]="title">
    <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
    <ActionItem (tap)="onSave()" ios.systemIcon="3" ios.position="right" android.systemIcon="ic_menu_save" android.position="actionBar"></ActionItem>
</ActionBar>

<StackLayout>
    <RadDataForm #formArticle [source]="article" [isReadOnly]="isLoading">
        <TKEntityProperty tkDataFormProperty name="title" displayName="{{ 'article.form.title' | L }}" index="0" required="true">
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="{{ 'validation.notEmpty' | L }}"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="description" displayName="{{ 'article.form.description' | L }}" index="1" required="true">
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="{{ 'validation.notEmpty' | L }}"></TKNonEmptyValidator>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="body" displayName="{{ 'article.form.body' | L }}" index="2" required="true">
            <TKPropertyEditor tkEntityPropertyEditor type="MultilineText"></TKPropertyEditor>
            <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="{{ 'validation.notEmpty' | L }}"></TKNonEmptyValidator>
        </TKEntityProperty>

        <TKEntityProperty tkDataFormProperty name="tagList" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="slug" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="createdAt" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="updatedAt" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="favorited" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="favoritesCount" hidden="true"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="author" hidden="true"></TKEntityProperty>
    </RadDataForm>

    <Label text="{{ 'article.form.tags' | L }}" class="m-l-15 m-r-15"></Label>
    <RadAutoCompleteTextView #tagsField [items]="tagsProvider" suggestMode="Suggest" displayMode="Tokens" class="m-l-15 m-r-15"
        (tokenAdded)="onTokenAdded($event)" (tokenRemoved)="onTokenRemoved($event)">
        <SuggestionView tkAutoCompleteSuggestionView>
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>

    <Button *ngIf="article.slug" text="{{ 'article.delete' | L }}" (tap)="onDelete()" class="btn btn-danger btn-active btn-rounded-sm" [isEnabled]="!isLoading"></Button>

    <ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>
</StackLayout>