<ActionBar #actionBar title="">
    <NavigationButton text="" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>

    <GridLayout rows="auto, auto" columns="auto, *" class="author" (tap)="onAuthor(article?.author.username)" style="width: 100%;"
        horizontalAlignment="left" position="left">
        <Image row="0" col="0" rowspan="2" [src]="article?.author.image" class="img-rounded m-r-10"></Image>
        <Label row="0" col="1" class="p-t-10" [text]="article?.author.username" horizontalAlignment="left"></Label>
        <Label row="1" col="1" class="p-b-10 font-italic" [text]="article?.createdAt | date" horizontalAlignment="left"></Label>
    </GridLayout>

    <ActionItem *ngIf="userService.getUser()" (tap)="onFavorited()" ios.position="right" android.position="actionBar">
        <StackLayout orientation="horizontal" class="btn-rounded favorited">
            <Label [text]="(article?.favorited ? 'fa-heart' : 'fa-heart-o') | fonticon" class="fa m-r-10"></Label>
            <Label [text]="article?.favoritesCount"></Label>
        </StackLayout>
    </ActionItem>

    <ActionItem text="" (tap)="onShare()" android.systemIcon="ic_menu_share_holo_light" ios.systemIcon="9" ios.position="right"></ActionItem>

    <ActionItem *ngIf="userService.getUser() && article?.author.username == userService.getUser().username" text="" (tap)="onEdit()"
        android.systemIcon="ic_menu_edit" ios.systemIcon="2" ios.position="right"></ActionItem>
</ActionBar>

<StackLayout>
    <ScrollView orientation="vertical" class="article">
        <StackLayout>
            <GridLayout rows="auto, auto, *" columns="*" class="p-10" style="background-color: white;">
                <Label row="0" [text]="article?.title" class="h1" textWrap="true"></Label>
                <Label row="1" [text]="article?.description" class="text-primary font-weight-bold" textWrap="true"></Label>
                <HtmlView row="2" [html]="articleBody" class="m-t-10"></HtmlView>
            </GridLayout>

            <GridLayout *ngIf="userService.getUser()" rows="auto, auto, auto" columns="auto, *" class="m-t-10 add-comment" horizontalAlignment="left"
                position="left">
                <Image row="0" col="0" rowspan="3" [src]="userService.getUser()?.image" class="img-circle m-r-10" height="32"></Image>
                <Label row="1" col="1" text="{{ 'comment.response' | L }}" (tap)="onWriteComment($event)" class="font-italic"></Label>
            </GridLayout>

            <GridLayout>
                <conduit-list-comments #commentsList *ngIf="article" class="m-t-10" [slug]="article.slug"></conduit-list-comments>
            </GridLayout>
        </StackLayout>
    </ScrollView>

    <ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>
</StackLayout>