<StackLayout>
    <GridLayout rows="auto" columns="auto,*,auto" class="action-bar p-10" style="background-color: white; border-bottom-color: lightgray; border-bottom-width: 1;">
        <Button [text]="'fa-times' | fonticon" class="fa text-left action-item" row="0" col="0" (tap)="onClose()"></Button>
        <Button text="{{ 'comment.publish' | L }}" class="text-right action-item" row="0" col="2" (tap)="onSubmit()"></Button>
    </GridLayout>

    <StackLayout>
        <GridLayout rows="auto, auto, auto" columns="*" class="m-10 p-10 comment-reply-box">
            <Label row="0" text="{{ 'comment.inResponse' | L }}" class="font-italic"></Label>
            <Label row="1" [text]="article.title" class="font-weight-bold"></Label>
            <Label row="2" [text]="article.author.username" class="font-italic"></Label>
        </GridLayout>

        <TextView #txtComment hint="{{ 'comment.response' | L }}" class="m-10 input input-border" [editable]="!isLoading"></TextView>
    </StackLayout>

    <ActivityIndicator [busy]="isLoading" horizontalAlignment="center" verticalAlignment="center" class="activity-indicator"></ActivityIndicator>
</StackLayout>